<section class="thirteen columns">
    <h1>Education</h1>

    <article>
        <header>
            <h1>Ph.D. in Computer Science and Engineering</h1>
            <span><a  target="_blank" href="http://www.stcet.org/">International Institute of Information Technology, Hyderabad</a></span>
            <span><address>Hyderabad, India</address><time>Dec, 2016 to Present</time></span>
        </header>
        <p>
            <em>DGPA: N/A</em>
        </p>
    </article>



    <article>
        <header>
            <h1>B.Tech. in Electronics & Communication Engineering</h1>
            <span><a  target="_blank" href="http://www.stcet.org/">St. Thomas' College of Engineering & Technology</a></span>
            <span><address>Kolkata, India</address><time>2009 to 2013</time></span>
        </header>
        <p>
            <em>DGPA: 8.37/10.0</em>
        </p>
    </article>
</section>