<section class="thirteen columns">
    <h1>Publications</h1>



<article>
        <header>
            <h1><u>Preprints</u></h1>
        </header>
        <strong>Avijit Dasgupta*</strong> and Sujoy K. Biswas*,
        Visual Recognition for Soccer Analytics: Player Detection, Team Recognition and Re-identification in Unconstrained YouTube Videos. <em>In Preparation</em>. 
        <br>
        <br>
        <strong>Avijit Dasgupta*</strong> and Sonam Singh*,
        <a href="https://arxiv.org/abs/1611.02064", target="_blank">A Fully Convolutional Neural Network based Structured Prediction Approach Towards the Retinal Vessel Segmentation
        </a>. <em>Arxiv</em> 1611.02064, 2016. (* means equal contribution)
</article>

<article>
        <header>
            <h1><u>Conference</u></h1>
        </header>
        <strong>Avijit Dasgupta*</strong> and Sonam Singh*,
        <a href="https://arxiv.org/abs/1611.02064", target="_blank">A Fully Convolutional Neural Network based Structured Prediction Approach Towards the Retinal Vessel Segmentation
        </a>. accepted at <em>International Symposium on Biomedical Imaging, 2017</em>, Melbourne, Australia. (* means equal contribution)
        <br>
        <br>
        M. Chakraborty, S. Mukhopadhyay, <strong>A. Dasgupta</strong>, S. Patsa and J. Ray,
        A New Approach of Oral Cancer Detection using Bilateral Texture Features in Digital Infrared Thermal Images.<em>38th Annual International Conference of the IEEE Engineering in
Medicine and Biology Society (EMBC)</em>, Orlando, FL, 2016
    
</section>
