<section class="thirteen columns">
    <h1>Relevant Research Projects</h1>





    <article>
        <header>
            <h1> <a href="https://avijit9.github.io/my_posts/FCN_Retina.html"> A Fully Convolutional Neural Network based Structured Prediction Approach Towards the Retinal Vessel Segmentation </a></h1>
            <span>Independent Research Project</span>
            <span><address>India</address><time>April, 2016 to September, 2016 </time></span>
        </header>
        <p>
           <ul>Developing a fully convolutional deep neural network architecture for automatic segmentation of retinal blood vessels from fundus images.
        </p>
    </article>


    <article>
        <header>
            <h1> <a href="https://avijit9.github.io/my_posts/soccer.html"> Visual Recognition for Soccer Analytics: Player Detection, Team Recognition and Re-identification in Unconstrained Youtube Videos </a></h1>
            <span>Independent Research Project</span>
            <span><address>India</address><time>April, 2014 to Present </time></span>
        </header>
        <p>
           <ul>Developing a unified Boosting framework to address the problem of detection,
recognition and tracking people in youtube soccer videos.
        </p>
    </article>

    <article>
        <header>
            <h1> <a href="https://avijit9.github.io/images/Deep_Neural_Networks_Visualizations_v1.0.pdf">Deep Neural Network Visualizations</a></h1>
            <span><a href="http://iiit.ac.in/">IIIT Hyderabad</a></span>
            <span><address>India</address><time>Oct, 2016 to Dec, 2016 </time></span>
        </header>
        <p>
           <ul>Understanding how to visualize feature representations learnt by deep neural networks.
        </p>
    </article>


    <article>
        <header>
            <h1><a href="https://avijit9.github.io/my_posts/redx.html"> Assistive Vision Simulator</a></h1>
            <span><a href="http://cameraculture.media.mit.edu/redx-camp/">RedX workshop, MIT’s Health Technology Camp</a></span>
            <span><address> Hyderabad, India</address><time>July, 2015</time></span>
        </header>
        <p>
           <ul>Developed a head mounted device with auditory and haptic feedback to help
visually impaired patients to navigate without using any external aid.
        </p>
    </article>    

    <article>
        <header>
            <h1>Early Detection of Oral Cancer from Infrared Images</h1>
            <span><a href="http://www.iitkgp.ac.in">Indian Institute of Technology Kharagpur</a></span>
            <span><address> Kharagpur, India</address><time>July, 2014 to Dec, 2014</time></span>
        </header>
        <p>
           <ul>Prepared a database of oral cancer signatures using an infrared camera and
developed a prototype of early detection of oral cancer using this set of thermal
images.
    </article> 


    <article>
        <header>
            <h1>Construction of Adaptive Filters for Adaptive Image Enhancement</h1>
            <span><a href="http://www.isical.ac.in">Indian Statistical Institute</a></span>
            <span><address> Kolkata, India</address><time>June, 2012 to July, 2013</time></span>
        </header>
        <p>
           <ul>Developed the physiologically inspired Adaptive Difference of Gaussian (ADoG)
filter which uses the intensity information as well as the color information to
smooth a noisy image while preserving the significant details of it.
    </article>


    
</section>