<section class="thirteen columns">
    <h1>Research Projects</h1>
    <article>
        <header>
            <h1>Deep learning based 3D Segmentation of anatomical structure from Chest CT Images</h1>
            <span><a href="http://www.compbio.dundee.ac.uk">Indian Institute of Technology Kharagpur</a></span>
            <span><address>Kharagpur, India</address><time>April, 2015 to October, 2016 </time></span>
        </header>
        <p>
           <ul> Developing a deep learning based algorithm for automatic segmentation of
anatomies from chest CT images.
        </p>
    </article>
    
</section>