<section class="thirteen columns">
    <h1>Skills</h1>
    <article>
        <header>
            <h1>Computer vision, machine learning &amp; Python</h1>
            
        </header>
            <div class="row">
                <div class="twp column">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
                </div>
                <div class="ten columns">
                    <em>Programing Language:</em> Python, C &amp; Java
                </div>
                <div class="twp column">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
                </div>
                <div class="ten columns">
                    <em>Tools:</em>
                    Eclipse, Spyder, Git, Bitbucket, MATLAB, Weka, Latex
                </div>


                <div class="twp column">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
                </div>
                <div class="ten columns">
                    <em>Toolboxes:</em>
                    CVX, OpenCV, Piotr Dollar's toolbox, VLFeat, MATLAB computer vision toolbox
                </div>
                <div class="twp column">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
                </div>
                <div class="ten columns">
                    <em>Deep Learning Libraries:</em>
                    Theano, Caffe, Keras, Matconvnet, Lasagne
                </div>
                <div class="twp column">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
                </div>
                <div class="ten columns">
                    <em>Annotation Toolbox:</em>
                    VATIC, Piotr Dollar's Toolbox
                </div>
                       <div class="twp column">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                </div>
                <div class="ten columns">
                    <em>Data Analysis and Visualisation:</em>
                    Python (pandas, matplotlib, ...)                 
                   </div>


                           <div class="twp column">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                </div>
                <div class="ten columns">
                    <em>Other coding and scripting:</em>
                    Bash and C++
                </div>
                
                <div class="twp column">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                </div>
                <div class="ten columns">
                    <em>Web Development:</em>
                    HTML, Jekyll and CSS
                </div>
     
            </div>
    </article>
</section>
