<section class="thirteen columns">
    <h1>Experience</h1>


    </article>
        <article>
        <header>
            <h1>Research Assistant</h1>
            <span><a href="http://cvit.iiit.ac.in/">Center for Visual Information Technology</a></span>
            <span><a href="http://iiit.ac.in/">International Institute of Information Technology</a></span>
            <span><address>Hyderabad, India</address><time>Jan, 2016 to Present</time></span>
        </header>

    </article>

    </article>
        <article>
        <header>
            <h1>Research Intern</h1>
            <span><a href="http://cvit.iiit.ac.in/">Center for Visual Information Technology</a></span>
            <span><a href="http://iiit.ac.in/">International Institute of Information Technology</a></span>
            <span><address>Hyderabad, India</address><time>October, 2016 to Dec, 2016</time></span>
        </header>

    </article>



    <article>
        <header>
            <h1>Junior Research Fellow</h1>
            <span><a href="http://www.iitkgp.ac.in/">Indian Institute of Technology Kharagpur</a></span>
            <span><address>India</address><time>July, 2014 to October, 2016</time></span>
        </header>
        <p>
        </p>
    </article>
    <article>
        <header>
            <h1>System Engineer</h1>
            <span><a href="https://www.infosys.com/">Infosys Ltd.</a></span>
            <span><address>Bhubaneswar, India</address><time>February, 2014 to April, 2014</time></span>
        </header>

    </article>

    <article>
        <header>
            <h1>System Engineer Trainee</h1>
            <span><a href="https://www.infosys.com/">Infosys Ltd.</a></span>
            <span><address>Mysore, India</address><time>October, 2013 to January, 2014</time></span>
        </header>

    </article>
        <article>
        <header>
            <h1>Research Intern</h1>
            <span><a href="http://www.isical.ac.in/">Indian Statistical Institute</a></span>
            <span><address>Kolkata, India</address><time>June, 2012 to July, 2013</time></span>
        </header>

    </article>
</section>