<section class="thirteen columns">
    <h1>Workshops Attended</h1>
    <article>
        <header>
            <h1><a href="https://avijit9.github.io/my_posts/redx.html">RedX workshop</a></h1>
            <span><a href="http://cameraculture.media.mit.edu/redx-camp/">MIT’s Health Technology Camp</a></span>
            <span><address>Hyderabad, India</address><time>July, 2015</time></span>
        </header>
        <p>
            Developed a head mounted device with auditory and haptic feedback to help
visually impaired patients to navigate without using any external aid.
        </p>
    </article>
    </section>