<section class="thirteen columns">
    <h1>Experience</h1>
    <article>
        <header>
            <h1>Junior Research Fellow</h1>
            <span><a href="http://www.iitkgp.ac.in/">Indian Institute of Technology Kharagpur</a></span>
            <span><address>India</address><time>July, 2014 to October, 2016</time></span>
        </header>
        <p>
        </p>
    </article>
    <article>
        <header>
            <h1>System Engineer</h1>
            <span><a href="https://www.infosys.com/">Infosys Ltd.</a></span>
            <span><address>Bhubaneswar, India</address><time>February, 2014 to April, 2014</time></span>
        </header>

    </article>

    <article>
        <header>
            <h1>System Engineer Trainee</h1>
            <span><a href="https://www.infosys.com/">Infosys Ltd.</a></span>
            <span><address>Mysore, India</address><time>OCtober, 2013 to January, 2014</time></span>
        </header>

    </article>
</section>